.footer-button {
    border: none;
    padding: 17px 24px 16px 24px;
    font-weight: 700;
    font-size: 12px;
    /* line-height: 15px; */
    letter-spacing: -0.25px;
    color: var(--primaryText);
    border-radius: 24px;
    background: var(--editButton);
}
.edit{
    background-color: #252945;
}
.cancel{

}
.delete{
    background: #EC5757;
}
.save{
background: #7C5DFA;
}
.draft{
    background: #373B53;
}