
.page-title-wrapper{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 32px;
}
.total-invoice, .status-filter select, .add-btn{
    font-size: 12px;
}
.page-title{
    font-size: 20px;
    font-weight: 700;
}
.total-invoice{
    color: var(--whiteLight)
}
.circle{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    /* display: block; */
    background: var(--otherBg);
    padding: 8px 15px 8px 8px;
    border-radius: 24px;
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
}
.page-title{
    margin-left: 0;
    margin-right: auto;
    color: var(--white);
}
.status-filter{
    margin-right: 18px;
}
.status-filter select{
    color: #fff;
    background: transparent;
    border: none;
    font-weight: 700;
}

.no-invoice-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.no-invoice-wrapper p{
    font-weight: 500;
font-size: 12px;
line-height: 15px;
/* or 125% */

text-align: center;
letter-spacing: -0.25px;

color: #DFE3FA;

}
.no-invoice-wrapper h2{

font-family: 'Spartan';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 22px;
letter-spacing: -0.625px;

color: #FFFFFF;
margin-bottom: 24px;
}