<!-- <h1 mat-dialog-title>Delete file</h1>
<div mat-dialog-content>
  Would you like to delete cat.jpeg?
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div> -->

<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>{{ description }}</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="close()">Close</button>
  <button mat-button  (click)="save()">Save</button>
</div>