<div class="invoice-card-wrapper">
  <div class="invoice-card-content">
    <p class="invoice-no">
      <span class="invoice-title-initial">#</span><span>{{ invoice?.invoice_id }}</span>
      <!-- {{ invoice?.id }} -->
    </p>
    <p class="invoice-date"> {{ paymentDue | date: 'dd, MMM yyyy' }} </p>
    <!-- <p class="invoice-date">Due  19 Aug 2021</p> -->
    <div class="vendor-wrapper">
      <p class="invoice-vendor created-by"> {{ invoice.client_name }} </p>
    </div>
    <h4 class="amount">{{ total | currency: 'GBP' }}</h4>
    <div class="invoice-btn-wrapper">
      <app-status-button [status]="invoice.status"></app-status-button>

    </div>
  </div>
</div>
