<div class="invoice-view">
  <div class="invoice-status-wrapper">
    <p class="status-title">Status</p>
    <app-status-button [status]="invoice['status']"></app-status-button>
  </div>
  <div class="invoice-details-wrapper">
    <div class="invoice-title-header">
      <h3 class="invoice-no"><span>#</span>{{invoice['invoice_id']}}</h3>
      <h4 class="invoice-title section-title">{{invoice['description'] || "No description"}}</h4>
      <p class="address address-from">
        <span>{{invoice['senderAddress']?.['street']}}</span>
        <span>{{invoice['senderAddress']?.['city']}}</span>
        <span>{{invoice['senderAddress']?.['postCode']}}</span>
        <span>{{invoice['senderAddress']?.['country']}}</span>
      </p>
    </div>
    <div class="invoice-recipient-details">
      <div class="grouped-section">
        <div class="invoice-payment-details">
          <div class="invoice-date">
            <h4 class="section-title">Invoice Date</h4>
            <p class="bold-title">{{ invoice['created_at']?.length > 0? (invoice['created_at'] | date: 'dd, MMM yyyy') : "Nil" }}</p>
          </div>
          <div class="payment-due">
            <h4 class="section-title">Payment Due</h4>
            <p class="bold-title">{{ invoice['payment_due']?.length > 0 ? (invoice['payment_due'] | date: 'dd, MMM yyyy') : "none" }}</p>
          </div>
        </div>
        <div class="bill-to">
          <h4 class="section-title">Bill To</h4>
          <p class="invoice-title bold-title">Alex Grim</p>
          <p class="address address-to">
            <span>{{invoice['clientAddress']?.['street']}}</span>
            <span>{{invoice['clientAddress']?.['city']}}</span>
            <span>{{invoice['clientAddress']?.['postCode']}}</span>
            <span>{{invoice['clientAddress']?.['country']}}</span>
          </p>
        </div>
      </div>

      <div class="destination-mail">
        <h4 class="section-title">Sent to</h4>
        <p class="bold-title">{{ invoice['client_email'] }}</p>
      </div>
    </div>
    <div class="invoice-table">
      <table>
        <tbody *ngFor="let item of invoice['items']">
          <tr>
            <th class="t-heading">{{ item.name}}</th>
          </tr>
          <tr class="row-data">
            <td>{{ item.price * item.quantity | currency: 'GBP'}}</td>
            <td>$212.00</td>
          </tr>
        </tbody>
        <!-- <tr>
          <th class="t-heading">Email design</th>
        </tr>
        <tr class="row-data">
          <td>$200 * 4</td>
          <td rowspan="2">$800.00</td>
        </tr> -->
        <tfoot>
          <tr><th>Total</th><td>{{ invoice?.['total'] | currency: 'GBP' }}</td></tr>
        </tfoot>
      </table>
    </div>
  </div>
  <app-footer [invoiceId]="id"></app-footer>
</div>
