/* You can add global styles to this file, and also import other style files */
:root{
    --appBg: #141625;
    --bgPrimary: #1E2139;
    --btnPendingBg: rgba(255, 143, 0, 0.3);
    --btnPending: #FF8F00;
    --btnPaidBg: rgba(51, 214, 159, 0.3);
    --btnPaid: #33D69F;
    --btnDraft: #DFE3FA;
    --themeSwitch: #858BB2;
    --otherBg: #7C5DFA;
    --otherBgLight: #9277FF;
    --headerDivider: #494E6E;

    --white: #fff;
    
    /* Text */
    --invoiceNoPrefix: #7E88C3;
    --whiteLight: #DFE3FA;

    /* -------------------- */
    /* ---- Spacing ------- */
    --cardPadding: 24px 24px 28px 24px;
    --cardBorderRadius: 8px;
    --btnBorderRadius: 6px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.invoice-card{
    background-color: var(--bgPrimary)
}